<!DOCTYPE html>
<html lang="en">
<head>
	<title>La Casa del Tortillero</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript">
	
	function validateForm()
	{
		var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

		hayerror = true;
		if($("#correo_name").val()=="")
		{
			$("#error_name").show();
			hayerror =  false;
		}
		else
		{
			$("#error_name").hide();
		}

		if($("#correo_email").val()=="" || !filter.test($("#correo_email").val()))
		{

			$("#error_email").show();
			hayerror =  false;
		}
		else
		{
			$("#error_email").hide();
		}

		if($("#correo_message").val()=="")
		{
			$("#error_message").show();
			hayerror =  false;
		}
		else
		{
			$("#error_message").hide();
		}
		
		return hayerror;
	}

	



</script>

</head>
<body id="page5">
	<div class="main-outer-bg">
		<div class="main-inner-bg">
			<!--======================== header ============================-->
			<header>
				<div class="container_24">
					<div class="grid_24">
						<div class="wrapper indent-bottom">
							<!--======================== logo ============================-->
							<h1>
								<%= link_to '', home_path %>
							</h1>
						
						</div>
						<div class="indent-bottom1">
							<div class="navigation">
							
									<!--======================== menu ============================-->
									<nav>
										<ul class="menu responsive-menu">
												<li><%= link_to 'Inicio', home_path %></li>										
											<li><a href="#">Productos</a>
												<ul>					                            	
					                                	<% if !@categories.blank? %>
					                                	  <% for item in @categories %>
					                                	    <li><%= link_to item.name, :controller => "producto", :tipo => item.id, :producto => item.name %> </li>
					                                	  <% end %>
					                                	<% else %>

					                                   	<% end %>					                                
					                            </ul>
											</li>						
											<li><%= link_to 'Paquetes',  productos_url(:tipo => '4', :producto => 'Paquetes') %></li>
												<li><%= link_to 'Acerca', acerca_path %></li>
												<li><%= link_to 'Ubicacion', ubicacion_path %></li>
												<li class="current last-item"><%= link_to 'Contacto', contacto_path %></li>
										</ul>
									</nav>
								<div class="clear"></div>
							</div>
						</div>
						<!--=================== slider ==================-->
						<!-- <div id="banner">
							<figure>
								<%=image_tag(@contacto.image, :size => "938x196") if !@contacto.image.nil? %>
							</figure>
						</div> -->
					</div>
					<div class="clear"></div>
				</div>
			</header>
			<!--======================== content ===========================-->
			<section id="content">
				<div class="container_24">
					<div>
						
						<div class="grid_16 last-col">
							<h3 class="p6">Escríbenos</h3>

							<div class="suffix_3">
								<!--=========== Contact form ==============-->
								<%= form_for @correo, :url => { :action => "enviar" }, :html => {:id => "contact-form"}, :validate => true do |f| %>
								
									<fieldset>
										<label class="name">											
											<span>Nombre:</span><span id="error_name" style="color:red;display: none;">*</span><br/><%= f.text_field "name" %>
										</label>
										<label class="email">

											<span>Email:</span><span id="error_email" style="color:red;display: none;">*</span><br/><%= f.email_field "email" %>
											
										</label>
										<label class="phone">										
											<span>Tel&eacute;fono:</span><br/><%= f.text_field "telephone" %>
											
										</label>
										<label class="message">											
											<span>Mensaje:</span><span id="error_message" style="color:red;display: none;">*</span><br/><%= f.text_area "message" %>
											
										</label>
										<div class="buttons-wrapper">
											<%= f.submit "Enviar Mensaje", :class => "button", :onclick => "return validateForm();" %>
										</div>
									</fieldset>
								<% end %>
							</div>
						</div>
						<div class="grid_8">
							<h3 class="p4-1">Contacto</h3>
							<div>
		                    <p><%= @contacto.lugar %></p>
		                    <p>Teléfono: <%= @contacto.telefono %><br />
		                    Cel: <%= @contacto.celular %><br />
		                    E-mail: <a href="mailto:"><%= @contacto.email_to %></a></p>
		                    </div>
		                </div>

						<div class="clear"></div>

					</div>

				</div>
			</section>
		</div>
	</div>
	<!--======================== footer ============================-->
	<footer>
		<div class="footer-text">
			La Casa del Tortillero (c) 2012 | Hermosillo, Son. Mex.
			<div class="footer-link"><!--{%FOOTER_LINK} --></div>
		</div>
	</footer>
</body>
</html>
