<h1>Listing contactos</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Email to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contactos.each do |contacto| %>
  <tr>
    <td><%= contacto.image %></td>
    <td><%= contacto.email_to %></td>
    <td><%= link_to 'Show', contacto %></td>
    <td><%= link_to 'Edit', edit_contacto_path(contacto) %></td>
    <td><%= link_to 'Destroy', contacto, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contacto', new_contacto_path %>
