<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @contacto.image %>
</p>

<p>
  <b>Email to:</b>
  <%= @contacto.email_to %>
</p>


<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
